*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    max-width: 1280px;
    margin: 0 auto;
    height: 100vh;
}
.dash-section{
    max-width: 1229px;
    height: 100vh;
    border-radius: 24px;
    display: flex;
    background-color: #262525;
}
.dash-sidebar{
    width: 56.14px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 14px;
    
}
.dash-sidebar a{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.dash-sidebar a:hover{
    background-color: #4169E114;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(1.1);
}
.dash-main{
    max-width: 809px;
    width: 100%;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    gap: 38px;
}
.flex-row{
    display: flex;
    justify-content: space-between;
    gap: 38px;
}
.card{
    background-color: #1d1d1d;
    min-height: 153px;
    border-radius: 24px;
    box-shadow: 0px 4px 8px 2px #00000040;
}
.small, .medium{
    flex: 1;
}

.large{
    width: 100%;
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 258px;

    gap: 56px;
    flex-grow: 1;


}
.div-colors{
    box-shadow: 0;
    width: 100%;
    max-width: 218px;
    min-height: 251px;
    position: relative;
}
.blue, .green, .gray{
    background: linear-gradient(136.58deg, #7B20E2 0%, #2B1043 101.73%);
    width: 100%;
    max-width: 218px;
    min-height: 251px;
    box-shadow: 0px 4px 32px 20px #00000040 inset;
    border-radius: 36px;
    position: absolute;
    top: 38px;
    /* left: 46px; */
}
.blue{
        z-index: 100;    
        border: 1px solid #44077E;


}
.green{
    background: #C68E3C;
    box-shadow: 0px 4px 8px 0px #00000040 inset;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: rotate(16.56deg);
    min-height: 205px;
    top: 35px;
    left: 18px;
    z-index: 5;
}
.gray{
    background: #2F847F;
    box-shadow: 0px 4px 8px 0px #00000040 inset;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: rotate(34.12deg);
    min-height: 205px;
    top: 38px;
    left: 27px;
   

}
.right-side-div {
    background-color: #1d1d1d;
    min-height: 273px;
    border-radius: 24px;
    box-shadow: 0px 4px 8px 2px #00000040;
    margin-bottom: 38px;

}

